body,.tooltip {
    font-size: .875rem;
    font-family: 'Rajdhani', 'Noto Sans TC', sans-serif;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar .nav-link:hover {
    color: #007bff;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#main-content {
    border: none;
}

#site-name {
    font-size: 1.3rem;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: lightgrey !important;
}

.lmask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: 0.8;
}

.img-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    margin-left: -2.5rem;
    margin-top: -2.5rem;
}

.skill {
    background-color: rgba(224, 237, 245, 0.753);
    padding: 1rem;
    margin: 10px 0;
    border-collapse: separate;
}

@media (min-width: 1000px) {
    .skill {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .skill {
        width: 45rem;
    }
}

.skill>thead>tr:nth-child(1)>td:nth-child(1) {
    width: 24px;
}

.skill>tbody>tr:nth-child(2) {
    color: red;
}

.loot {
    color: red;
}

#main-navbar {
    background-color: rgba(52, 58, 64, 0.95) !important;
}

.equipment {
    margin-bottom: 2rem !important;
}

.equipment-info {
    width: 17px;
    height: 17px;
    padding: 0 !important;
    line-height: 1.3;
    font-size: 0.5rem;
    margin-left: 3px;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}

.card-img {
    width: 78px;
}

main {
    padding: 0!important;
}

#home {
    height: 100vh;
    background-image: url('../image/general/home.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}

@media (max-width: 767.98px) {
    #home {
        background-position: 50% 0%;
    }
}

.home-title {
    font-size: 4rem;
    color: white;
    text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.home-description {
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.content {
    padding-top: 4.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 992px) {
    .back-image-6 {
        margin-left: -70px;
    }
    .back-image-3 {
        margin-left: -58px;
    }
}
.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.z-3{
    z-index: 3;
}
.z-4{
    z-index: 4;
}
.z-5{
    z-index: 5;
}
.z-6{
    z-index: 6;
}

.pet-img-blk{
    width: 150px;
}